body {
  background: #000000;
}

body.light-mode {
  background: #ffffff;
}

button.toggle-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

body.dark-mode button.toggle-button {
  background-color: #ffffff;
  color: #000000;
}

body.light-mode button.toggle-button {
  background-color: #000000;
  color: #ffffff;
}
